 /* GENERAL */ 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');
* {
    font-family: 'Montserrat';
}

html{
	font-size: 100%;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	height: 100%;
}

body{
	color: #141412;
	line-height: 1.6;
	font-size: 15px;
	margin: 0;
	background-color: #a80909;
	background-size: 1550px 800px;
}

 /* NAVEGADOR */ 
.logo{
	display: flex;
	justify-content: center;
	background-color: white;
	width: 100%;
}

.logo img{
    width: fit-content;
	max-height: 80px;
}

nav{
	background-color: linear-gradient( rgba(165, 28, 48, .7), rgba(0, 0, 0, .7));
}

.fixed-nav nav {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 1;
}

.fixed-nav .menu-ul{
	height: 100%;
}

.menu-div{
	height: 40px;
}

.menu-ul{
	margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: top;
	justify-content: center;
	font-size: 18px;
	color: white;
	background-color: linear-gradient( rgba(165, 28, 48, .7), rgba(0, 0, 0, .7));
}

.menu-ul li{
	list-style: none;
	display: flex;
	margin-right: 4.5%;
}

.menu-ul li a{
	color: white;
	text-decoration: none;
}

.menu-div {
	margin: 0;
    padding: 0;
	margin:auto;
	text-align: center;
	background-color:#a80909;
}

ul {
	list-style: none;
}

.menu-ul > li{
	float: left;
	background-color:#a80909;
}

.menu-ul li a{
	font-weight: bold;
	text-decoration: none;
	padding: 10px 12px;
	display: block;
	color: white;
}

.menu-ul li a:hover {
	background-color:#a80909;
}

.sub-menu {
	margin: 0;
    padding: 0;
	cursor: pointer;
	display: none;
	position: absolute;
	min-width: 160px;
	z-index: 1;
}

.sub-menu-item a:hover{
	color: #000;
 }

.sub-menu1 {
	width: 8.5%;
}

.sub-menu2, .sub-menu4 {
	width: 12.5%;
}

.sub-menu3{
	text-align: left;
}

.primersub1{
	margin-top: 22%;
	padding-top: 8%;
}

.primersub2{
	margin-top: 30%;
	padding-top: 8%;
}

.primersub {
	margin-top: 15%;
	padding-top: 4%;
}

.login{
	cursor: pointer;
}

.menu-ul li:hover > ul {
	display: block;
}

.sub-menu-item {
	display: inline-block;
	cursor: pointer;
	position: relative;
	color: white;
	background-color: #a80909;
}

.sub-menu-item{
	display: block;
 }

.sub-menu-item a{
	font-size: 16px;
}

#icono-nav {
    color: black;
    display: none;
}

/* LOGIN */
form {
	border: 3px solid #f1f1f1;
}
  
input[type=text], input[type=password] {
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	width: 24%;
}
  
button {
	background-color: #a80909;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 15%;
}
  
button:hover {
	opacity: 0.8;
}
  
.cancelbtn {
	width: auto;
	padding: 10px 18px;
	background-color: #f44336;
}
  
.imgcontainer {
	text-align: center;
	margin: 24px 0 4px 0;
}
  
img.avatar {
	width: 25%;
	border-radius: 50%;
}
  
.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 16px;
	margin-bottom: 1%;
}
  
span.psw {
	float: right;
	padding-top: 16px;
}
  
@media screen and (max-width: 300px) {
	span.psw {
	  display: block;
	  float: none;
	}
	.cancelbtn {
	  width: 100%;
	}
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
	padding-top: 20px;
}
  
.modal-content {
	display: flex;
	flex-direction: column;
	background-color: #fefefe;
	margin: 5px auto;
	border: 1px solid #888;
	width: 80%;
}
  
.close {
	position: absolute;
	right: 25px;
	top: 0;
	color: #000;
	font-size: 45px;
	font-weight: bold;
}
  
.close:hover, .close:focus {
	color: red;
	cursor: pointer;
}
  
.animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s
}
  
@-webkit-keyframes animatezoom {
	from {-webkit-transform: scale(0)}
	to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
	from {transform: scale(0)}
	to {transform: scale(1)}
}

/* INCIO */ 
section {
	height: 900px;
	position: sticky;
	display: flex;
	justify-content: center;
	align-items: center;
}

.seccion1{
	height: 100%;
	margin-top: 2%;
	padding-bottom: 7%;
}
  
.uno {
	background: #a80909;
}
  
.dos {
	background: #cc2936;
}
  
.tres {
	background: #fa7968;
}
  
.cuatro {
	background: #ebbab9;
}
  
.contenedor1 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 100%;
	padding-left: 10%;
	padding-right: 10%;
	align-items: center;
}

.contenedor2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 100%;
	padding-left: 15%;
	padding-right: 15%;
}
  
.column-left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	color: #000;
	padding: 0rem 2rem;
}
  
.column-left h1 {
	margin-bottom: 1rem;
	font-size: 45px;
	font-style: italic;
}
  
.column-left p {
	margin-bottom: 2rem;
	font-size: 45px;
	line-height: 1.1;
}
  
.column-right {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem 2rem;
}

.column-right p {
	margin-bottom: 2rem;
	font-size: 45px;
	line-height: 1.1;
}
  
.image {
	max-width: 700px;
	max-height: 800px;
}

.imageUEM {
	max-width: 500px;
	max-height: 750px;
}
  
.text {
	color: #fff;
}
  
@media screen and (max-width: 768px) {
	.container {
	  grid-template-columns: 1fr;
	}
}

/*Inscripción*/
.seccionI{
	display: flex;
	align-items: flex-start;
	justify-content: center;
	max-height: 2%;
	margin-top: 5%;
	margin-bottom: 7.5%;
}

.seccionI ul{
	margin: 0;
}

.seccionI ul li{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	list-style: none;
	text-decoration: none;
	margin-top: 2%;
}

.seccionI ul li img{
	max-width: 6%;
	margin-top: 2%;
}

.seccionI ul li a{
	font-weight: bold;
	font-size: 22px;
	color: white;
	text-decoration: none;
	margin-left: 2%;
}

.seccionI ul li a:hover{
	color: rgb(252, 206, 206);
	cursor: pointer;
}

.seccionI div h1{
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-weight: bold;
	font-size: 28px;
	text-decoration: underline;
}

.columnaL {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding-left: 10%;
	padding-right: 4%;
	padding-bottom: 8%;
}

.columnaR {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding-left: 4%;
	padding-right: 10%;
	padding-bottom: 10%;
}

/* INSTANCIA*/
input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

input[type=submit] {
	background-color: #a80909;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
  
input[type=submit]:hover {
	background-color: #45a049;
}
  
.container_instancia {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
	width: 80%;
}

.columnaL2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding-left: 10%;
	padding-right: 4%;
	padding-bottom: 8%;
	width: 70%;
}

.columnaR2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding-left: 4%;
	padding-right: 10%;
	padding-bottom: 10%;
	width: 30%;
}

.columnaR2 h1{
	text-align: left;
}

.horario_universidad{
	background-color: #f2f2f2;
	width: 500px;
	border-radius: 5px;
	margin-top: 5px;
	display: flex;
	flex-direction: row;
}

.horario_uni_izq{
	display: flex;
	flex-direction: column;
}

.horario_uni_izq i {
	margin-top: 20px;
}

.horario_uni_der i {
	margin-top: 20px;
}


.horario_uni_der{
	display: flex;
	flex-direction: column;
}

/* Horario*/
.horario{
	width: 85%;
	color: black;
	margin-bottom: 7.5%;
}

.horario th{
	width: 10%;
	color: white;
}

.titulo-horario{
	color: white;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 2%;
	margin-top: 1%;
}

.hora{
	width: 12%;
	color: white;
}

.otro{
	font-weight: bold;
	width: 16%;
}

.piscina{background-color: #A9CCE3;}
.volM{background-color: #F9E79F;}
.volF{background-color: #EDBB99;}
.futsal{background-color: #48C9B0;}
.fut11{background-color: #A9DFBF;}
.atlet{background-color: #F1948A ;}
.bal{background-color: #BB8FCE;}
.libre{background-color: #D0D3D4;}

/* Galería*/
.galeria{
	display: grid;
	align-items: center;
	grid-template-columns: 1fr 1fr;
	height: 100%;
	padding-left: 15%;
	padding-right: 15%;
	margin-bottom: 5%;
}

.columnaizq h1{
	color: white;
}

.columnaizq h2{
	margin-bottom: 0;
	color: white;
}

.columnaizq h3{
	margin-top: 0;
	margin-bottom: 15%;
	color: white;
}

.columnader2{
	aspect-ratio: 4/3;
	max-width: 400px;
}

.gal1{
	margin-top: 6%;
}

.contenidoGaleria{
	display: flex;
	justify-content: center;
	background-color: #a80909;
	margin: 2%;
	padding: 0;
}

.carousel{
	margin-bottom: 3%;
}

.item{
	display: flex;
	aspect-ratio: 16/9;
	max-width: 1200px;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
	border-radius: 5px;
}

.item2{
	aspect-ratio: 4/3;
	max-width: 400px;
}

.item::-webkit-scrollbar {
	display: none;
}

.item img{
	flex: 1 0 100%;
	scroll-snap-align: start;
	object-fit: cover;
}

.item2 img{
	flex: 1 0 100%;
	scroll-snap-align: start;
	object-fit: cover;
}

.slideizq{
	position: absolute;
	display: flex;
	justify-content: left;
	top: 50%;
	width: 10%;
}

.slideder{
	position: absolute;
	display: flex;
	justify-content: right;
	top: 50%;
	width: 10%;
	right: 0;
}

/* Equipos */
.seccionE{
	height: 100%;
	margin-top: 2%;
}

.h2_table_top{
	margin-top: 2%;
	color: white;
	text-align: center;
	font-size: 60px;
	text-align: center;
}

.contenedor_resultados_clasificacion{
	display: grid;
	grid-template-columns: 2fr;
	grid-template-rows: 1fr 0.3fr 1fr;
	width: 85%;
	background-color: #85161f;
}

.grid-top{
	max-height: 500px;
	margin: 0;
}

.grid-bot{
	max-height: 300px;
	margin: 0;
}

.resultados{
	margin: 0 auto;
	border: 1px solid white;
	font-size: large;
	background-color: #cc2936;
}

.clasificacion_table{
	margin: 0 auto;
	border: 1px solid white;
	font-size: large;
	background-color: #cc2936;
}

.clasificacion_table tr th, td{
	border: 1px solid white;
	text-align: center;
}

.clasifNum{
	width: 4%;
}

.unis{
	width: 25%
}

.puntos, .jgep{
	width: 10%;
}

.goles{
	width: 10.7%;
}

.anotacion{
	width: 15%;
}

.resultados tr th, td{
	width: 20%;
	border: 1px solid white;
	text-align: center;
}

.top_div_equipos{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.titulo_top_div{
	flex-direction: column;
}

.introduccion_equipo p{
	margin-left: 2rem;
	margin-right: 2rem;
	font-size: 150%;
	line-height: 1.1;
	color: white;
}

#image_equipo{
	max-width: 600px;
	max-height: 600px;
	margin: 20px;
	border-radius: 5px;
}

/* BLOG*/
.contenido-blog{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 75%;
}

.blog_content{
	display: grid;
	grid-template-columns: 1fr 2fr;
	background: #cc2936;
}

.h2_resumen{
	margin-top: 10%;
	font-family: 'Montserrat';
	color: white;
	text-align: center;
	font-size: 200%;
}

.h2_table{
	margin-top: 5%;
	font-family: 'Montserrat';
	color: white;
	text-align: center;
	font-size: 200%;
}

.h2_resumen_blog{
	margin-bottom: 1rem;
	font-size: 20px;
	font-style: italic;
	color:white;
	text-align: center;
}

.estadisticas{
	margin: 5% 12%;
	margin-top: 16%;
}

#content-left{
	margin-left: 12%;
	display: grid;
	grid-template-rows: 0.3fr 1fr 1fr 1fr 1fr;
}

#content-right{
	margin-left: 12%;
	display: grid;
	grid-template-rows: 0.3fr 1fr 1fr 1fr 1fr;
}

.resumen{
	height: 20%;
	margin-top: 12%;
}

.resumen p{
	margin-bottom: 1rem;
	font-size: 15px;
	font-style: italic;
	color:white;
	text-align: center;
}

.h2_top_div h2{
	text-align: center;
}

/* Footer */
footer{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color:#a80909;
	height: 10%;
}

footer h1{
	color: white;
	text-align: center;
	font-size: 22px;
}

/* Registro */
#registro-left{
	width: 300px;
	margin: auto;
	border-radius: 10px;
}

/* Scrollbar */
::-webkit-scrollbar {
	width: 10px;
  }
  
::-webkit-scrollbar-track {
	background: #f1f1f1; 
}
   
::-webkit-scrollbar-thumb {
	background: #ff5260; 
}
  
::-webkit-scrollbar-thumb:hover {
	background: #85161f; 
}

/* Pantalla grande */
@media screen and (max-width: 1700px) {
	.seccion{
		height: 1500px;
	}
}

/* Portátil */
@media screen and (max-width: 1600px) {
	.menu-ul{
		font-size: 14px;
	}

	.sub-menu-item a{
		font-size: 14px;
	}

	.image {
		max-width: 600px;
	}
}

/* Móvil */
@media screen and (max-width: 800px) {
    nav {
        display: none;
    }
    nav.responsive {
        display: block;
        background-color: rgba(0, 0, 0, .8);
        width: 100%;
        position: absolute;
        top: 48px;
        left: 0;
        padding: 10px 0;
    }
	nav.responsive ul {
        display: block !important;
        text-align: center;
    }
    nav.responsive ul li {
        margin: 5px 0;
    }
    #icono-nav {
        display: block;
    }
	section {
		height: 700px;
	}
	.seccion1{
		height: 100%;
		padding-bottom: 7%;
	}
	.contenedor1, .contenedor2{
		display: flex;
		flex-direction: column;
	}
	.contenedor1 h1{
		font-size: 36px;
	}
	.contenedor2{
		font-size: 36px;
	}
	.image {
		max-width: 325px;
	}
	.column-right p{
		margin: 0;;
	}
	footer{
		max-height: 20%;
	}
}